

body {
    background-image: url("fond.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



div.premier {
    p{
        padding: 70px;
        transform: rotate(10deg);
        padding: 20px ;
        transition: transform 0.7s ease;
    }
    img {
        position: absolute;
        height: 120px;
        width: 280px;
        transition: transform 0.4s ease;
    }
}
div.deuxieme {
    p{
        
        transform: rotate(-10deg);
        padding: 20px ;
        transition: transform 0.7s ease;
    }
    img {
        position: absolute;
        height: 80px;
        width: 180px;
        transition: transform 0.4s ease;
    }
}
div.quatrieme {
    p{
        padding: 70px;
        transform: rotate(10deg);
        padding: 20px ;
        transition: transform 0.7s ease;
    }
    img {
        position: absolute;
        height: 120px;
        width: 280px;
        transition: transform 0.4s ease;
    }
}
div.cinquieme {
    p{
        
        transform: rotate(-10deg);
        padding: 20px ;
        transition: transform 0.7s ease;
    }
    img {
        position: absolute;
        height: 160px;
        width: 320px;
        transition: transform 0.4s ease;
    }
}
div.troisieme {
    p{
        
        transform: rotate(-10deg);
        padding: 40px ;
        transition: transform 0.7s ease;
    }
    img {
        position: absolute;
        height: 336px;
        width: 743px;
    transition: transform 1.4s ease;

    }
}






div.premier{
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
div.deuxieme{
    position: absolute;
    top: 35%;
    left: 2%;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
div.quatrieme{
    position: absolute;
    top: 7%;
    left: 78%;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    
}
div.cinquieme{
    position: absolute;
    top: 45%;
    left: 83%;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    
}
div.troisieme p{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

div.troisieme img {
    position: absolute;
    height: 336px;
    width: 743px;
    top: 42%;
    left: 50%;
    transform: translate(-48%, -50%);
}






div.premier:hover {
    img{
        transform-origin:center center ;
        transform: scale(1.1) rotate(5deg)  ;
    }
    p{
        transform-origin: 80px 350px;
        transform: rotate(-5deg);
    }  
}
div.deuxieme:hover {
    img{
        transform-origin:center center ;
        transform: scale(1.1) rotate(-5deg) ;
    }
    p{
        transform-origin: 0px 300px;
        transform: rotate(15deg);
    } 
}
div.quatrieme:hover {
    
    img{
        
        transform-origin:center center ;
        transform: scale(1.1) rotate(5deg)  ;
    }
    p{
        transform-origin: 80px 350px;
        transform: rotate(-5deg);
    }  
}
div.cinquieme:hover {
    img{
        transform-origin:center center ;
        transform: scale(1.1) rotate(-5deg) ;
    }
    p{
        transform-origin: 0px 300px;
        transform: rotate(15deg);
    } 
}

div.troisieme:hover img {
    transform: translate(-48%, -50%) scale(1.03);
    
}
