
img {
    
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 20%;
    left: 40%;

}
img:hover {
    transform: scale(1.2) rotate(5deg)  ;


    transition: transform 0.3s ease;
    
}