body {
    background-image: url("fond.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; /* point de départ de l'animation */
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0;
    animation: zoom 2s ease forwards;
}
p1{
    position: absolute;
    top: 6%;
    left: 2%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #333;
    animation: opacityUp 2s ease forwards;
}

div.about-me img{
    z-index: -1;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 13%;
    width: 180px;
    height: 260px;
    border-radius: 20%;
    border:5px solid #462908;
    animation: opacityUp 2s ease forwards;
    
}
div.bio {
    position: absolute;
    top: 49%;
    left: 60%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: opacityUp 2s ease forwards;
}
div.premier img {
    
    position: absolute;
    top: 6%;
    left: 75%;
    height: 120px;
    width: 280px;
    transition: transform 0.4s ease;

}
div.premier p {
    position: absolute;
    top: -6%;
    left: 80%;
    transform: rotate(10deg);
    transition: transform 0.7s ease;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
div.premier:hover {
    img {
    transform-origin: center center;
    transform: scale(1.1) rotate(5deg);
    }
    p {
        transform-origin: 80px 350px;
        transform: rotate(-5deg);
    }
}

@keyframes zoom {
	0% {
		background-position: center bottom;
		background-size: 100%;
	}

	100% {
		background-position: left bottom;
		background-size: 250%;
	}
}
@keyframes opacityUp {
    0% {
        transform: translate(-50%, -50%) translatex(-4000px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) translatex(0);
        opacity: 1;
    }
}