

body {
    max-width: 90%;
    margin: 0 auto;
    background-color: #ecf0f1;
    padding: 2%;
    font-family: 'Arial', sans-serif;
    color: #2c3e50;
}

h1 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 3%;
    color: #2c3e50;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
    width: 10%;
    height: 10%;
}
.github-link {
    display: block;
    text-align: center;
    font-size: calc(0.8em + 0.5vw);
    color: #3498db;
    text-decoration: none;
    margin: 2% 0;
    padding: 1%;
}

.github-link:hover {
    color: #2980b9;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
    margin-top: 4%;
}

.project-card {
    flex: 1;
    min-width: 30%;
    max-width: 45%;
    margin: 2%;
    background: white;
    border-radius: 2%;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project-card:hover {
    transform: translateY(-2%);
}

.project-card h2 {
    font-size: calc(1em + 0.5vw);
    color: #2c3e50;
    margin-bottom: 3%;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 1%;
    margin-bottom: 3%;
}

.project-card p {
    font-size: 90%;
    color: #484848;
    line-height: 1.6;
}
.project-card a {
    display: inline-block;
    margin-top: 3%;
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
}