

body {
    max-width: 90%;
    margin: 0 auto;
    background-color: #ecf0f1;
    padding: 2%;
    font-family: 'Arial', sans-serif;
    color: #2c3e50;
}

.skills-container {
    width: 80%;
    min-height: 60vh;
    background: #ffffff;
    border-radius: 2%;
    padding: 4%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    font-size: calc(1.5em + 2vw);
    color: #2c3e50;
    text-align: center;
    margin-bottom: 3%;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
}

p {
    font-size: 120%;
    color: #2c3e50;
    text-align: center;
    font-weight: 600;
    margin: 3%;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
}
 
div {
    margin: 6% auto;
    padding: 5%;
    background: white;
    border-radius: 3%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 70%;
    text-align: center;
    font-size: 100%;
}
div:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

h2 {
    font-size: 100%;
    color: #34495e;
    margin-bottom: 2%;
}