
body {
    background-image: url("fond2.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden; /* empêche le défilement horizontal */
    margin: 0;
    animation: myAnim 1s ease 0s 1 normal forwards;

img{
    z-index: -1;
    transform: translate(-48%, -50%);
    position: absolute;
    top: 19%;
    left: 50%;
    height: 320px;
    width: 720px;
    
}
}
img{
    animation: riseUp 1s ease forwards;
    
}
h1, section {
    animation: riseUp2 1s ease forwards;
}
h1 {
    
    z-index: 2;
    font-size: 200%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-bottom: 3%;
    color: #2c3e50;
    font-weight: 700;
    margin-top: 13%;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
    width: 10%;
    height: 10%;
}

section {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:30%;
    gap: 3%;
    justify-content: center;
    margin-top: 4%;
}

.skills-container {
    flex: 1;
    min-width: 30%;
    max-width: 45%;
    margin: 2%;
    background: rgb(253, 255, 221);
    border-radius: 20%;
    padding: 2%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.8s ease;
}

.skills-container:hover {
    transition: transform 0.4s ease;
    transform:scale(1.1)
}

.skills-container h2 {
    font-size: calc(1em + 0.5vw);
    color: #2c3e50;
    margin-bottom: 3%;
}

.skills-container img {
    width: 100%;
    height: auto;
    border-radius: 1%;
    margin-bottom: 3%;
}

.skills-container p {
    font-size: 90%;
    color: #484848;
    line-height: 1.6;
}
.skills-container a {
    display: inline-block;
    margin-top: 3%;
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
}
@keyframes myAnim {
	0% {
		background-position: 50% 100%;
	}

	100% {
		background-position: 50% 0%;
	}
}

@keyframes riseUp {
    0% {
        transform: translate(-48%, -50%) translateY(-5000px);
        opacity: 0;
    }
    100% {
        transform:translate(-48%, -50%) translateY(0);
        opacity: 1;
    }
}
@keyframes riseUp2 {
    0% {
        transform: translateY(-5000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

